html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}
